<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ "/" | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" | relative_url %} active{% endif %}" href="{{ "/" | relative_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort: 'navigation_weight' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active {% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="/blogs/index.html">Blogs</a>
      <a class="sidebar-nav-item" href="/photos/treebarks/index.html">Treebarks</a>
      <p></p>
      <!-- TODO: Change these into icons -->
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/qinye-sindy-li-03a904113/">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://github.com/qinyeli">GitHub</a>
      <a class="sidebar-nav-item" href="https://www.youtube.com/channel/UCUhDbG7ZqGW6aza0IgP-mHg">Youtube</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
